.slides
{
    width: 100%;
    background-color: rgb(236,208,120);
}

.slideList
{
    width: 100%;
    height: 38px;
    background-color: rgb(217,91,67);
    text-align: center;
}

.slideIcon
{
    display: inline-block;
    border: solid 4px rgb(217,91,67);
    margin-top: 3px;
    margin-left: 5px; margin-right: 5px;
    width: 40px;
    height: 24px;
}

.slideIconActive
{
    border: solid 4px rgb(255, 234, 168);
}

.innerSlides
{
    position: relative;
    width: 100%;
    height: 500px;
    margin-left: auto;
    margin-right: auto;
    text-align: center;
    vertical-align: top;
    overflow: hidden;
}

.slide
{
    position: absolute;
    left: 50%;
    display: block;
    background-color: rgb(255, 234, 168);
    width: 400px;
    height: 500px;
    margin-left: -210px; margin-right: 10px;
    text-align: left;
    padding: 10px;
}

.textIcon
{
    background-image: url("icons/html.png");
}


.arrow-e, .arrow-w{
    position: absolute;
    left: 50%;
    margin-top: 220px;
    width: 42px; height: 42px;
    opacity: .5;
}

.arrow-e {
    background-image: url("icons/eastArrow.png");
    margin-left: 220px;
}

.arrow-w {
    background-image: url("icons/westArrow.png");
    margin-left: -260px;
}